.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

body {
    background-image: url('https://upload.cc/i1/2019/06/11/KoncMY.jpg');
    background-size: cover;
    font-family:Microsoft JhengHei;
}