<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant list</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
  {{!-- google font --}}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{!-- navbar --}}
  <nav class="navbar navbar-dark default-color justify-content-between">
    <a class="navbar-brand" href="/">Restaurant List</a>
    <form class="form-inline my-1" action="/restaurants/search" method="GET">
      <div class="md-form form-sm my-0">
        <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="輸入餐廳名稱或類別" aria-label="Search"
          value="{{keyword}}" name='keyword'>
      </div>
      <button class="btn btn-outline-white btn-sm my-0" type="submit">搜尋餐廳</button>
      <a href="/restaurants/new" class="btn btn-info btn-sm">新增餐廳</a>
    </form>
  </nav>
  <div class="banner"></div>

  {{{body}}}

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
  <script src="/javascripts/validation.js"></script>
</body>

</html>